<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>schedHive - Home</title>

    <!-- Bootstrap CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font-Awesome -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="html5shiv/html5shiv.min.js"></script>
    <script src="respond/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <% include nav.ejs %>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Index</h1>

                    <p>Welcome <%= username %></p>

                    <p>
                        <input id='entry' class="form-control"/>
                        <button id="insert" type="submit" class="btn btn-default">Insert</button>
                    </p>
                    <div id='data'></div>


                    <script src="/socket.io/socket.io.js"></script>
                    <script>
                        var socket = io.connect(window.location.href);
                    </script>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- jQuery -->
<script src="jquery/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu JavaScript Module -->
<script src="metismenu/metisMenu.min.js"></script>

<!-- Custom JavaScript -->
<script src="js/main.js"></script>

</body>

</html>
