<!DOCTYPE html>
<html>
    <head>
      <title>Home</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <p>Welcome <%= username %></p>
        <p><a href='/logout'>Logout</a></p>

        <p>
        <input type='text' id='search' placeholder='Search...'>
        <span id='result'></span>
        </p>

        <p>
        <input type='text' id='entry' />
        <input type='submit' id='insert' value="Insert" />
        </p>
        <div id='data'></div>


        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:3000');
        </script>

        <script src="javascripts/jquery.js"></script>
        <script>
            $(function() {
                $('#search').keyup(function(){
                    var input = $(this).val();
                    if (input != "") {
                        $.post('/search', {search: input}, function (res) {
                            $('#result').html(res);
                        });
                    }else{
                        $('#result').html("Suggestions: none");
                    }
                });

                $('#insert').click(function(){
                    var input = $('#entry').val();
                    $.post('/insert', {data: input}, function (res) {
                        $('#data').html(res);
                    });
                });
            });
        </script>
    </body>
</html>