<!DOCTYPE html>
<html>
    <head>
         <title>Login</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <form method='POST' action=''>
            Username: <input type='text' name='username' size='15' /><br />
            Password: <input type='password' name='password' size='15' /><br />
            <input type='submit' value='Login' />
        </form>
    </body>
</html>