<!DOCTYPE html>
<html>
    <head>
         <title>Login</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        Username: <input type='text' id='username' name='username' size='15' /><br />
        Password: <input type='password' id='password' name='password' size='15' /><br />
        <input type='submit' id='login' value='Login' />

        <div id='info'></div>

        <script src="js/jquery.js"></script>
        <script>
            $(function() {

                $('#login').click(function(){
                    var username = $('#username').val();
                    var password = $('#password').val();
                    $.post('/login', {username: username, password: password}, function (res) {
                            $('#info').html(res);
                    });
                });
            });
        </script>
    </body>
</html>