<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home">schedHive</a>
    </div>


    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="pm-count"></span>
                <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul id="pm-nav" class="dropdown-menu dropdown-messages">
            </ul>

        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="notif-count"></span>
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul id="notif-nav" class="dropdown-menu dropdown-alerts"></ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li class='text-center'><em style='cursor:default;'><i class="fa fa-user fa-fw"></i> <%= u_name %></em>
                </li>
                <li class="divider"></li>
                <li><a href="/profile"><i class="fa fa-gear fa-fw"></i> Profile</a>
                </li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                            <span class="input-group-btn">
                                <button id="search-btn" class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        <input id="search-box" type="text" class="form-control" placeholder="Search">

                        <div id="search-res" class="search-res"></div>
                    </div>
                </li>
                <li>
                    <a id="home" href="/home"><i class="fa fa-home fa-fw"></i> Home</a>
                </li>
                <li>
                    <a><i class="fa fa-group fa-fw"></i> Groups<span class="fa arrow"></span></a>
                    <ul id="group-nav" class="nav nav-second-level">
                        <li>
                            <a style="font-style: italic;cursor:pointer;"data-toggle="modal" data-target="#newGroup">
                                Create Group
                            </a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="/pm"><i class="fa fa-envelope fa-fw"></i> Private Messages</a>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="createGroup" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="createGroup">Create Group</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Group name</label>
                        <input id="g_name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input id="g_desc" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group" style="position:relative;">
                        <label>Members</label>
                        <p id="m_list"class="help-block"></p>
                        <div style="position:relative;">
                            <input id="member-box" type="text" class="form-control" placeholder="Add Member">
                            <div id="member-res" class="search-res"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="g-error" class='alert alert-danger' style="display: none; margin-bottom: 0"></div>
            <div id="g-success" class='alert alert-success' style="display: none; margin-bottom: 0"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="btn-create" type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>