<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">PM</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="pm-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-envelope fa-fw"></i>
                Conversations
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a id="all-pm" style="cursor: pointer;">
                                <i class="fa fa-angle-right fa-fw"></i> All
                            </a>
                            <a id="unread_pm" style="cursor: pointer;">
                                <i class="fa fa-angle-right fa-fw"></i> Unread
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div id="conv-panel" class="panel-body">
                <ul id="conv-list" class="pm">
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="pm-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Private Messages
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a id="refresh" style="cursor: pointer;">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div id="pm-panel" class="panel-body">
                <ul id="pm-list" class="pm">
                </ul>
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div class="input-group">
                    <textarea id="message" class="form-control" rows="4" style="resize: vertical;"></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="send">Send</button>
                    </span>
                </div>
            </div>
            <!-- /.panel-footer -->
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>
